.logo {
  width: 200px;
  height: 100px; }

.navigation a {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #666666;
  color: #666666;
  background: #fff; }
  .navigation a:hover {
    background: #666666;
    color: black; }

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.navigation .right {
  float: right;
  margin-right: 33px; }
  .navigation .right a {
    width: 150px;
    text-align: center; }
  .navigation .right li:hover .navigation-submenu {
    display: block;
    position: absolute;
    float: left; }
  .navigation .right .navigation-submenu {
    display: none; }

.login-page-box .table-wrapper input[type=text], .login-page-box .table-wrapper input[type=password], .login-page-box .table-wrapper input[type=email], .login-page-box .table-wrapper select, .login-page-box .table-wrapper .login-box input[type=submit], .login-page-box .table-wrapper .register-box input[type=submit] {
  font-family: Arial, sans-serif;
  color: #666666;
  display: block;
  width: 100%;
  max-width: 450px;
  padding: 15px 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  transition: .3s; }

.login-page-box .table-wrapper .login-box, .login-page-box .table-wrapper .register-box {
  display: table-cell;
  margin: 0;
  color: #666666;
  background-color: #999999;
  padding: 20px 50px 40px;
  width: 33%;
  box-sizing: border-box;
  font-weight: 400;
  text-transform: uppercase; }

.login-page-box {
  display: table;
  width: 100%; }
  .login-page-box .table-wrapper {
    display: table-row; }
    .login-page-box .table-wrapper h2 {
      color: #f5f5f5; }
    .login-page-box .table-wrapper .login-box .remember-me-label {
      display: block;
      margin-bottom: 10px; }
    .login-page-box .table-wrapper .login-box input[type=submit] {
      background-color: transparant;
      border: 2px solid #666666;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer; }
      .login-page-box .table-wrapper .login-box input[type=submit]:hover {
        color: #f5f5f5;
        border-color: #000;
        background-color: #000; }
    .login-page-box .table-wrapper .login-box .link-forgot-my-password {
      display: block;
      text-align: left;
      float: left; }
      .login-page-box .table-wrapper .login-box .link-forgot-my-password a {
        color: #666666;
        text-decoration: none; }
        .login-page-box .table-wrapper .login-box .link-forgot-my-password a:hover {
          text-decoration: underline; }
        .login-page-box .table-wrapper .login-box .link-forgot-my-password a:visited {
          color: #666666;
          text-decoration: none; }
    .login-page-box .table-wrapper .register-box {
      background-color: #000; }
      .login-page-box .table-wrapper .register-box input[type=submit] {
        background-color: transparant;
        border: 2px solid #666666;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer; }
        .login-page-box .table-wrapper .register-box input[type=submit]:hover {
          color: #f5f5f5;
          border-color: #000;
          background-color: #999999; }

.footer {
  border-radius: 3px;
  padding: 20px;
  margin: 33px;
  text-align: right;
  font-size: 11px; }

.container {
  margin-bottom: 15px; }
  .container .feedback {
    padding: 20px;
    margin-bottom: 10px; }
    .container .feedback.success {
      color: #558f2d;
      background-color: #ddf2c0; }
    .container .feedback.error {
      color: #ff7272;
      background-color: #ffe5e5; }
    .container .feedback.info {
      color: #00529b;
      background-color: #bde5f8; }
  .container span {
    font-weight: bold; }
