//Color scheme
$color-success: #558f2d;
$color-success-bg: #ddf2c0;

$color-error: #ff7272;
$color-error-bg: #ffe5e5;

$color-info: #00529b;
$color-info-bg: #bde5f8;

//Font family
$input-font: Arial, sans-serif;




//TEMP EXTRA BULLSHIT
$color-background: #999999;
$color-text-spec: #336699;
$color-text: #666666;
$color-222: #222;
$color-ddd: #ddd;
$color-ccc: #ccc;
$color-black: #000;
$color-777: #777;
$extra-color: #454545;
$color-f5f5f5: #f5f5f5;